# Files to be ignored by git
Questions.txt
accountability.pyc
database.db
.DS_Store
*/.DS_Store
node_modules
package-lock.json
package.json
test.db
test.txt
.envrc
.vscode
__pycache__
run_hits
create_tasks.py
manage_tasks.py
*.dump