/* #togetherjs-container {
  display: contents !important;
} */

.togetherjs-menu,
/* #togetherjs-dock, */
#togetherjs-walkthrough,
#togetherjs-modal-background,
#togetherjs-notification,
/* #togetherjs-share */
/* #togetherjs-menu, */
/* #togetherjs-chat, */
/* .togetherjs-focus, */
/* #togetherjs-chat-notifier, */
/* .togetherjs-cursor-container */
{
    display: none !important;
}

/* .togetherjs-focus {
    visibility: hidden !important;
} */
