<html>
    <head>
        <title>Hi, welcome.</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </head>
    <body>
        <script>
            var TogetherJSConfig_findRoom = "{{ room_name }}"
            var TogetherJSConfig_autoStart = true;
            var TogetherJSConfig_suppressJoinConfirmation = true;
            var TogetherJSConfig_disableWebRTC = true;
            var TogetherJSConfig_includeHashInUrl = false;
            var TogetherJSConfig_cloneClicks = true;
            var TogetherJSConfig_on = {
                ready: function () {console.log("TOGETHER")}
            };
        </script>
        {% if condition == "exp" %}
        <script src='{{ url_for('static', filename='js/togetherjs.js') }}'></script>
        {% endif %}
        {% if page == "moderation" and condition == "exp" %}
        <script>
            TogetherJS.config('localClone', false)
        </script>
        {% endif %}
        {% if page == "observation" %}
        {% endif %}
        <div class='container-fluid' style='height: 100%; display: flex;'>
            <div class='row'>
                <div class='col-md-8'>
                    {% if page != "error" and page != 'clear_error' and page != 'waiting' %}
                    <div class='progress' style='margin-top: 2%;'>
                        <div id='prog_complete' class='progress-bar progress-bar-striped bg-primary' style='width: 1%;' aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p id='counter_text' style='text-align: center;'>filler</p>
                    <button id='moderate_submit_button' role='button' class='btn btn-success mx-auto' style='display: none;' {% if condition == "exp" %}disabled{% endif %}>Submit Decisions</button>
                    <button id='moderate_done_button' type='button' class='btn btn-danger mx-auto' style='display: none;' {% if page == "moderation" %}onclick='window.location.href = "/done"'{% endif %}>Done</button>
                    {% endif %}
                    <h1>This is the {{ page }} page, and you're here because {{ reason }}.</h1>
                    {% if page != "error" and page != 'clear_error' and page != 'waiting' %}
                    <!-- TODO this needs to be centered too-->
                    <div id="image-carousel" class="carousel slide container" data-wrap=false data-interval=false>
                        <div class="carousel-inner">
							{% for i in range(img_count) %}
                            <div class="carousel-item text-center{% if i == 0 %} active{% endif %}">
                                <div class='container'>
                                    <div id='moderate' class="btn-group btn-group-toggle mx-auto" data-toggle="buttons">
                                        <label class="btn btn-primary">
                                            <input type="radio" name="options" id="option1" autocomplete="off"> No
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" name="options" id="option2" autocomplete="off"> Yes
                                        </label>
                                    </div>
                                    <img src='{{ imgs[i] }}' class='d-block img-fluid mx-auto mt-2' style='max-width: 50%;'>
                                </div>
                            </div>
							{% endfor %}
                        </div>
                        <a class="carousel-control-prev btn-primary" style='display: none;' href="#image-carousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon btn-primary" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next btn-primary" {% if img_count == 1 %}style="display: none;"{% endif %} href="#image-carousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    {% endif %}

                    {% if target %}
                    <form action="{{ target }}">
                        {% if key %}
                        <input type='hidden' name="{{ key }}" value="{{ value }}"/>
                        {% endif %}
                        <input type="submit" value="Next" />
                    </form>
                    {% endif %}
                </div>
                {% if page == "observation" %}
                <div class='col-md-4' style='background-color: grey;'>
                    <div>
                {% else %}
                <div class='col-md-4'>
                    <div style='visibility: hidden;'>
                {% endif %}
                        <form class='form-group' action='javascript:submitObservations()'>
                            <label class='mt-2' for='observations'>Please describe what you see the moderator doing</label>
                            <textarea class='form-control' id='observations' rows='25'></textarea>
                            <button id='observe_button' type='submit' class='btn btn-success mx-auto mt-2' style='text-align: center;'>Submit Observations</button>
                            <button id='observe_continue_button' type='button' class='btn btn-danger mx-auto mt-2' stle='text-align: center;' {% if page == "observation" %}onclick='window.location.href = "/obs_to_mod"'{% endif %} disabled>Continue</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script>
        {% if page == "observation" %}
        $('#image-carousel, #moderate_submit_button, #moderate_done_button').on('click', '*', function(e) {
            console.log(e)
            if(!e.originalEvent.togetherjsInternal === true) {
                return false
            }
        })
        $('.moderate_submit_button').removeClass('btn-primary');
        $('.moderate_submit_button').prop('disabled', true);
        {% endif %}

        var choices = [{% for i in range(img_count) %}{% if(i != 0) %},{% endif %}0{% endfor %}]
        var cur_index = 0
        var num_images = {{ img_count }};
        var step = parseInt(100 * ((cur_index+1)/choices.length))
        $( document ).ready(function() {
            // set the label for which number photo
            $('#counter_text').text('Image ' + (cur_index + 1) + ' of ' + (num_images))
            // set the width of the progress bar
            $('#prog_complete').attr('style', 'width: ' + step+'%;');
            // set the aria data for the progress bar
            $('#prog_complete').attr('aria-valuenow', step)

        });
        $('.carousel-control-next').prop('disabled', true);
        $('#image-carousel').on('slid.bs.carousel', function (e) {
            cur_index = e.to

            // update the visual state
            step = parseInt(100 * ((cur_index+1)/choices.length))
            $('#prog_complete').attr('style', 'width: ' + step+'%;');
            $('#counter_text').text('Image ' + (cur_index + 1) + ' of ' + (num_images))

            curSlide = $('.active');
            if(cur_index == 0) {
              $('.carousel-control-prev').hide();
            } else {
              $('.carousel-control-prev').show();
            }

            console.log('curr index: ' + cur_index + ', num images: ' + num_images);

            if(cur_index == num_images - 1) {
              $('.carousel-control-next').hide();
            } else {
              $('.carousel-control-next').show();
            }

            if(choices[cur_index] == 0) {
                $('.carousel-control-next').prop('disabled', true);
            } else {
                $('.carousel-control-next').prop('disabled', false);
            }
        });

        $('.btn-group-toggle ').on('click', function (e) {
            choices[cur_index] = e.target.innerText;
            pct = parseInt($('#prog_complete').attr('aria-valuenow'))/10;
            $('.carousel-control-next').prop('disabled', false);
            console.log('button clicked')
            console.log(choices.indexOf(0))
            if(choices.indexOf(0) === -1) {
                console.log('this should work now')
                $('#moderate_submit_button').show()
            }
        })
        // Response submissions
        {% if page == "moderation" %}
        $('#moderate_submit_button').on('click', function() {
            {% if page == "moderation" %}
            var submission = {
                decisions : choices,
                img_ids : [
                {% for i in range(img_count) %}
                    {% if i != 0 %},{% endif %}
                    {{ img_ids[i] }}
                {% endfor %}],
                pair_id : {{ pair_id }}
            };

            $.ajax({
                url: '/submit_mods',
                data: JSON.stringify(submission),
                contentType: 'application/json;charset=UTF-8',
                type: 'POST',
                success: function(data) {
                    console.log(data);
                },
                error: function(data) {
                    console.log(data);
                }
            });
            {% endif %}

            $('#moderate_submit_button').prop('disabled', true);
            $('#moderate_done_button').show();
            console.log("Moderations submitted!");
        })
        {% endif %}
        {% if condition == "exp" %} // NOTE: Removed page="moderation" requirement, button should become visible on observer page
        var obsSubmitted = false;
        var pair_id_json = { pair_id : {{ pair_id }} };
        function checkObsSubmitted() {
          $.ajax({
            url: '/check_obs_submitted',
            data: JSON.stringify(pair_id_json),
            contentType: 'application/json;charset=UTF-8',
            type: 'POST',
            success: function(data) {
                console.log(data);
                if(data.status == 'success') {
                  if(data.submitted == 'true' && !obsSubmitted) {
                    obsSubmitted = true;
                    console.log('Yeah, observations have been submitted');
                    $('#moderate_submit_button').prop('disabled', false);
                  } else {
                    console.log('Observations haven\'t been submitted...');
                  }
                }
            },
            error: function(data) {
                console.log(data);
            }
          });

          if(!obsSubmitted)
            setTimeout(checkObsSubmitted, 3000);
        }
        checkObsSubmitted();
        {% endif %}
        {% if page == "observation" %}
        function submitObservations() {
            var submission = { pair_id : {{ pair_id }},
                               obs_text : $('#observations').val() };

            $.ajax({
                url: '/submit_obs',
                data: JSON.stringify(submission),
                contentType: 'application/json;charset=UTF-8',
                type: 'POST',
                success: function(data) {
                    console.log(data);
                },
                error: function(data) {
                    console.log(data);
                }
            });

            $('#observe_button').prop('disabled', true);
            console.log("Observations submitted!");
        }
        var modSubmitted = false;
        var pair_id_json = { pair_id : {{ pair_id }} };
        function checkModSubmission() {
          $.ajax({
              url: '/check_mod_submitted',
              data: JSON.stringify(pair_id_json),
              contentType: 'application/json;charset=UTF-8',
              type: 'POST',
              success: function(data) {
                  console.log(data);
                  if(data.status == 'success') {
                    if(data.submitted == 'true' && !modSubmitted) {
                      modSubmitted = true;
                      console.log('Yeah, it\'s been submitted');
                      $('#observe_continue_button').prop('disabled', false);
                      $('#moderate_submit_button').prop('disabled', true);
                      $('#moderate_done_button').show();
                    } else {
                      console.log('Hasn\'t been submitted...');
                    }
                  }
              },
              error: function(data) {
                  console.log(data);
              }
          });

          if(!modSubmitted)
            setTimeout(checkModSubmission, 3000);
        }
        checkModSubmission();
        {% endif %}
    </script>
</html>
