<html>
<head>
    <title>Done Page</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function() {
        var assignmentId = $('#assignmentId').val();
        $('#mturk_form').attr('action', 'https://workersandbox.mturk.com/mturk/externalSubmit?fill=true&assignmentId=' + assignmentId);

        $('#submit_mturk').click(function(){
          $('#mturk_form').submit();
        });
      });
    </script>
</head>
<body>
    {% if task_finished %}
      <p>All done! Your Mechanical Turk ID is <strong>{{ turk_id }}</strong>.</p>
      <p>Click the button below to submit your HIT and receive compensation.</p>
    {% else %}
      <p>Thank you for your participation, but your responses are no longer needed at this time.</p>
      <p>Your Mechanical Turk ID is <strong>{{ turk_id }}</strong>. Click the button below to submit your HIT and be compensated for your time.</p>
    {% endif %}
    <form id="mturk_form" method="POST" />
    <input type='hidden' id='assignmentId' name='assignmentId' value='{{ assignment_id }}'>
    <button id="submit_mturk">Submit HIT</button>
</body>
</html>
