<html>

<head>
    <title>Narrative Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function checkAffiliation() {
            var political = $("input[name='political']:checked").val();
            var party = $("input[name='party']:checked").val();
            var name = $("input[name='name']").val()
            if (political === undefined || party == undefined || name == undefined) {
                alert('Please select a political affiliation and party affiliation.');
            } else {
                $('#form_submit').prop('disabled', true);

                if (political === 'Other') {
                    political = 'Other: ' + $("input[name='other']").val();
                }
                if (party == 'Other') {
                    party = 'Other: ' + $("input[name='party-other']").val();
                }

                // Set URL param c=exp or c=con to force condition
                window.location.href = '/wait?pol=' + encodeURI(political) + '&party=' + encodeURI(party) + '&name=' + encodeURI(name)+ '&c=0'; // TODO: Remove c param
            }
        }

        var politicalInput = false;
        var partyInput = false;
        function enableOK(politicalSelection) {
            if (politicalSelection) {
                politicalInput = true;
            } else {
                partyInput = true;
            }

            if (politicalInput && partyInput) {
                $('#form_submit').prop('disabled', false);
            }
        }

        function appendNarration() {
            $('body').append(
                '<h3>If you have done previous batches of our HITs, our system will not allow you to do more tasks at this time. Thank you for understanding.</h3>' +
                '<p>We are building a new online community, and given the recent news about foreign governments interfering in elections through targeted political content, we have decided we do not want political content in our community.</p>' +
                '<p>Therefore, we would like your help to test this out, and moderate images being shared to exclude political content.</p>' +
                '<p>To make sure this moderation is fair, your process may be observed. If you are observed, you will see other cursors on the screen. These observations will not influence your compensation for this task.</p>' +
                '<p>We may ask you to serve as an observer as well, and record your observations of others doing the moderation task. As we said before, these observations will not impact the compensation of the people doing the moderation, we just want to understand the moderation process.</p>' +
                '<p>You will be asked to moderate a total of {{num_images}} images, and we do not anticipate this task taking more than 30 minutes of your time.</p>'
                {% if preview == False %}
        + '<p>Your Mechanical Turk ID is <strong>{{ turkId }}</strong>. Please enter your political affiliation.</p>'
            + '<form id="political_form">'
            + '<input type="radio" name="political" value="Liberal" oninput="enableOK(true)">Liberal'
            + '<input type="radio" name="political" value="Conservative" oninput="enableOK(true)">Conservative'
            + '<input type="radio" name="political" value="Other" oninput="enableOK(true)"> Other <input type="text" name="other" />'
            + '</form>'
            + '<p>Which of the following best describes you? Select an answer, then press "OK" to continue.</p>'
            + '<form id="party_form">'
            + '<input type="radio" name="party" value="Democrat" oninput="enableOK(false)">Democrat'
            + '<input type="radio" name="party" value="Republican" oninput="enableOK(false)">Republican'
            + '<input type="radio" name="party" value="Other" oninput="enableOK(false)"> Other <input type="text" name="party-other" />'
            + '</form>'
            + '<form>'
            + 'What is your name: <input name="name" type="text">'
            + '</form>'
            + '<button id="form_submit" onclick="checkAffiliation()" disabled>OK</button>'
        {% endif %}
            );
        }

        function appendBrowserWarning() {
            $('body').append(
                '<p>You are using a browser that is incompatible with this task. Please switch to a recent version of Google Chrome and reopen the HIT.</p>'
            );
        }

        function appendMobileWarning() {
            $('body').append(
                '<p>You are currently using a mobile device or a window that is too small, which is incompatible with this task. Please switch to a non-mobile device and reopen the HIT.</p>'
            );
        }

        function appendCompletedStatement() {
            $('body').append(
                '<h3>You have already completed this HIT, and our system does not allow more than one pass through the system. Thank you for understanding.</h3>'
            )
        }

        $(document).ready(function () {
            var agent = navigator.userAgent;
            console.log(agent);

            // appendNarration();
            if ("{{ already_completed }}" === 'True') {
                console.log("already completed")
                appendCompletedStatement();
            } else if (window.innerWidth <= 768 && !{{ dev }}) {
                console.log("window is teh wrong size or dev is set")
                appendMobileWarning();
            } else if (agent.includes("Chrome")) {
                console.log("yes it's chrome")
                appendNarration();
            } else {
                console.log("nothing else is true")
                appendBrowserWarning();
            }
            })
    </script>
</head>

<body>
    <strong>For this HIT to work correctly, you must:
        <ul>
            <li>not be on a mobile device</li>
            <li>be using a recent version of Chrome</li>
            <li>have javascript enabled</li>
        </ul>
    </strong>
</body>

</html>