<html>
  <head>
    <title>Narrative Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function checkAffiliation() {
            var political = $("input[name='political']:checked").val();
            if(political === undefined) {
              alert('Please select a political affiliation.');
            } else {
              $('#form_submit').prop('disabled', true);

              if(political === 'Other') {
                  political = 'Other: ' + $("input[name='other']").val();
              }

              // Set URL param c=exp or c=con to force condition
              window.location.href='/wait?pol=' + encodeURI(political) + '&c=con';
            }
        }

        function enableOK() {
            $('#form_submit').prop('disabled', false);
        }

        function appendNarration() {
            $('body').append(
                '<p>We are building a new online community, and given the recent news about foreign governments interfering in elections through targeted political content, we have decided we do not want political content in our community.</p>' +
                '<p>Therefore, we would like your help to test this out, and moderate images being shared to exclude political content.</p>' +
                '<p>To make sure this moderation is fair, your process may be observed. If you are observed, you will see other cursors on the screen. These observations will not influence your compensation for this task.</p>' +
                '<p>We may ask you to serve as an observer as well, and record your observations of others doing the moderation task. As we said before, these observations will not impact the compensation of the people doing the moderation, we just want to understand the moderation process.</p>' +
                '<p>You will be asked to moderate a total of {{num_images}} images, and we do not anticipate this task taking more than 30 minutes of your time.</p>'
                {% if preview == False %}
                + '<p>Your Mechanical Turk ID is <strong>{{ turkId }}</strong>. Please enter your political affiliation, then click OK to continue.</p>'
                + '<form id="political_form">'
                    + '<input type="radio" name="political" value="Liberal" oninput="enableOK()">Liberal'
                    + '<input type="radio" name="political" value="Conservative" oninput="enableOK()">Conservative'
                    + '<input type="radio" name="political" value="Other" oninput="enableOK()"> Other <input type="text" name="other" />'
                + '</form>'
                + '<button id="form_submit" onclick="checkAffiliation()" disabled>OK</button>'
                {% endif %}
            );
        }

        function appendBrowserWarning() {
            $('body').append(
                '<p>You are using a browser that is incompatible with this task. Please switch to a recent version of Google Chrome and reopen the HIT.</p>'
            );
        }

        $(document).ready(function() {
            var agent = navigator.userAgent;
            console.log(agent);

            if(agent.includes("Chrome")) {
                appendNarration();
            } else {
                appendBrowserWarning();
            }
        });
    </script>
  </head>
  <body>
    <strong>For this HIT to work correctly, you must:
      <ul>
        <li>not be on a mobile device</li>
        <li>be using a recent version of Chrome</li>
        <li>have javascript enabled</li>
      </ul>
    </strong>
  </body>
</html>
