<html>

<head>
    <title>Narrative Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function checkAffiliation() {
            var political = $("input[name='political']:checked").val();
            var party = $("input[name='party']:checked").val();
            var name = $("input[name='name']").val()
            if (political === undefined || party == undefined || name == undefined) {
                alert('Please select a political affiliation and party affiliation.');
            } else {
                $('#form_submit').prop('disabled', true);

                if (political === 'Other') {
                    political = 'Other: ' + $("input[name='other']").val();
                }
                if (party == 'Other') {
                    party = 'Other: ' + $("input[name='party-other']").val();
                }

                // Set URL param c=exp or c=con to force condition
                window.location.href = '/wait?pol=' + encodeURI(political) + '&party=' + encodeURI(party) + '&name=' + encodeURI(name)+ '&c=0'; // TODO: Remove c param
            }
        }

        var politicalInput = false;
        var partyInput = false;
        function enableOK(politicalSelection) {
            if (politicalSelection) {
                politicalInput = true;
            } else {
                partyInput = true;
            }

            if (politicalInput && partyInput) {
                $('#form_submit').prop('disabled', false);
            }
        }

        function appendNarration() {
            $('body').append(
                // '<h3>If you have done previous batches of our HITs, our system will not allow you to do more tasks at this time. Thank you for understanding.</h3>' +
                '<p><strong>Why we need your help: </strong>Large social network platforms are changing their policies to ban some kinds of political content, because of recent foreign government interference in elections via targeted political content.</p>' +
                '<p><strong>What we need your help with:</strong> We would like your help deciding whether to moderate posts, to <strong>exclude political content</strong>.</p>' +
                // '<p>To make sure this moderation is fair, your process may be observed. If you are observed, you will see other cursors on the screen. These observations will not influence your compensation for this task.</p>' +
                // '<p>We may ask you to serve as an observer as well, and record your observations of others doing the moderation task. As we said before, these observations will not impact the compensation of the people doing the moderation, we just want to understand the moderation process.</p>' +
                '<p><strong>Task Details:</strong> You will be asked to moderate a total of {{num_images}} posts, and we do not anticipate this task taking more than 30 minutes of your time.</p>'
                {% if preview == False %}
                + '<p>Your Mechanical Turk ID is <strong>{{ turkId }}</strong>.</p>'
                + '<form>'
                    + 'What is your name: <input name="name" type="text">'
                + '</form>'
                +'<p style="margin-top: 5px;">Please enter your political affiliation.</p>'
                + '<form id="political_form">'
                    + '<input id="radio-liberal" type="radio" name="political" value="Liberal" oninput="enableOK(true)"><label for="radio-liberal">Liberal</label><br>'
                    + '<input id="radio-conservative" type="radio" name="political" value="Conservative" oninput="enableOK(true)"><label for="radio-conservative">Conservative</label><br>'
                    + '<input id="radio-other" type="radio" name="political" value="Other" oninput="enableOK(true)"> <label for="radio-other">Other</label> <input type="text" name="other" />'
                    + '</form>'
                + '<p style="margin-top: 5px;">Which of the following best describes you? Select an answer, then press "OK" to continue.</p>'
                + '<form id="party_form">'
                    + '<input id="radio-democrat" type="radio" name="party" value="Democrat" oninput="enableOK(false)"><label for="radio-democrat">Democrat</label><br>'
                    + '<input id="radio-republican" type="radio" name="party" value="Republican" oninput="enableOK(false)"><label for="radio-republican">Republican</label><br>'
                    + '<input id="radio-other2" type="radio" name="party" value="Other" oninput="enableOK(false)"> <label for="radio-other2">Other</label> <input type="text" name="party-other" />'
                + '</form>'
                + '<button id="form_submit" onclick="checkAffiliation()" disabled>OK</button>'
                {% endif %}
            );
        }

        function appendBrowserWarning() {
            $('body').append(
                '<p>You are using a browser that is incompatible with this task. Please switch to a recent version of Google Chrome and reopen the HIT.</p>'
            );
        }

        function appendMobileWarning() {
            $('body').append(
                '<p>You are currently using a mobile device or a window that is too small, which is incompatible with this task. Please switch to a non-mobile device and reopen the HIT.</p>'
            );
        }

        function appendCompletedStatement() {
            $('body').append(
                '<h3>You have already completed this HIT, and our system does not allow more than one pass through the system. Thank you for understanding.</h3>'
            )
        }

        $(document).ready(function () {
            localStorage.removeItem('answers')
            localStorage.setItem('answers', '[]')
            var agent = navigator.userAgent;
            console.log(agent);

            // appendNarration();
            if ("{{ already_completed }}" === 'True') {
                console.log("already completed")
                appendCompletedStatement();
            } else if (window.innerWidth <= 768 && !{{ dev }}) {
                console.log("window is teh wrong size or dev is set")
                appendMobileWarning();
            } else if (agent.includes("Chrome")) {
                console.log("yes it's chrome")
                appendNarration();
            } else {
                console.log("nothing else is true")
                appendBrowserWarning();
            }
            })
    </script>
</head>

<body>
    For this HIT to work correctly, you must:
        <ul>
            <li>not be on a mobile device</li>
            <li>be using a recent version of Chrome</li>
            <li>have javascript enabled</li>
        </ul>
</body>

</html>