<!DOCTYPE html>
{% from 'new_work_user_col.html' import user_col as user_col %}
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title>Work - Pairwise</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/new_work.css') }}">
    <!-- progress bar -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/progress.css') }}">
    {% if pairwise_mode == 1 %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/obscure_partner_answers.css') }}">
    {% endif %}

    <!-- jQuery from CDN -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!-- TogetherJS Begin -->

    <!-- Config -->
    <script type="text/javascript">

      var TogetherJSConfig_autoStart = true;
      var TogetherJSConfig_suppressJoinConfirmation = true;
      var TogetherJSConfig_suppressInvite = true;
      var TogetherJSConfig_disableWebRTC = false;
      var TogetherJSConfig_cloneClicks = true;
      var TogetherJSConfig_findRoom = "{{ pair_id }}";
      var TogetherJSConfig_ignoreForms = [];
      var TogetherJSConfig_ignoreMessages = [];
      var TogetherJSConfig_hubBase = "https://togetherjs-hub.glitch.me/"

      var posts = {{ posts|safe }};
      console.log(posts)
      var taskIdx = 0;

      var leftSubmission = {
        "pair_id":"{{ pair_id }}",
        "turk_id":"{{ turk_id }}",
        "answers":[]
      };
      var rightSubmission = {
        "pair_id":"{{ pair_id }}",
        "turk_id":"robot",
        "answers":[]
      };

      // var pairwise_recording = "static/recordings/test.txt";
      function getRandomRecording() {
        var basePath = "static/recordings/pairwise_dev/";
        var type = ["naive", "industry", "theory"];
        var answer = ["Y", "N"];
        var duration = Math.floor(3 * Math.random())+1;
        // posts[taskIdx]["post_id"];
        var path = basePath;
        path += type[Math.floor(type.length * Math.random())];
        path += "_";
        path += answer[Math.floor(answer.length * Math.random())];
        path += "_";
        path += duration.toString() + "0";
        return path;
      }
      // var pairwise_recording = getRandomRecording();

      /**
      * Make some initial changes to DOM elements that can't be done via CSS.
      */
      $(document).ready(function(){
        $('.pairwise-col input').attr('tabindex','-1'); // disable tab selection
        var answers = JSON.parse(localStorage.getItem('answers'))
        setProgress($('#pairwise-progress'), answers.length);
        taskIdx = answers.length
        updatePost();
      });

      /**
      * Updates the Task content, based on taskIdx.
      */
      function updatePost(){
        $('#name').html(posts[taskIdx]['author'])
        $('#username').html('@'+posts[taskIdx]['author'])
        $('#tweet_text').html(posts[taskIdx]['content'])
        // hue-rotate(170deg)
        hue = 'hue-rotate(' + Math.floor((Math.random() * 360) + 1) + 'deg)'
        console.log(hue)
        $('#profile_pic').css('filter', hue);
      };

      /**
      * Gets the ID of the current post's image
      */
      function getPostID(){
        return posts[taskIdx]["post_id"];
      }

      function getFirstConditionAnswer($form) {
        // get 'decision' answer
        var _decision = "unsure";
        try {
          _decision = $form.find('fieldset.pairwise-decision').find('input[type=radio]:checked').attr('data-value');
        } catch(e) {
          console.error('Couldn\'t find answer for '+side+'\'s decision. Assuming "unsure"');
        }
        return _decision;
      }

      function getSecondConditionAnswer($form) {
        var _guideline_1 = true;
        var _guideline_2 = true;
        var _guideline_3 = true;
        try {
          _guideline_1 = $form.find('input.pairwise-guideline-1').is(':checked');
          _guideline_2 = $form.find('input.pairwise-guideline-2').is(':checked');
          _guideline_3 = $form.find('input.pairwise-guideline-3').is(':checked');
        } catch(e) {
          console.error('Could not find one or more of '+side+'\'s guidelines answers. Assuming none of the above.');
        }
        console.log([_guideline_1, _guideline_2, _guideline_3])
        return [_guideline_1, _guideline_2, _guideline_3]
      }

      function getThirdConditionAnswer($form) {
        var _guideline_1 = true;
        var _guideline_2 = true;
        var _guideline_3 = true;
        try {
          _guideline_1 = $form.find('input.pairwise-twitter-1').is(':checked');
          _guideline_2 = $form.find('input.pairwise-twitter-2').is(':checked');
          _guideline_3 = $form.find('input.pairwise-twitter-3').is(':checked');
        } catch(e) {
          console.error('Could not find one or more of '+side+'\'s guidelines answers. Assuming none of the above.');
        }
        return [_guideline_1, _guideline_2, _guideline_3]
      }
      /**
      * Create a Javascript object modeling responses for ajax sending.
      */
      function getFormAnswer($form) {
        var control_condition = "{{ control_cond }}"
        var pair_id = "{{ pair_id }}"
        var turk_id = "{{ turk_id }}"

        var side = $form.attr('data-side');
        console.log(side);

        // get ID of image associated with answer
        var _img_id = posts[taskIdx]['post_id'];

        // get 'reason' answer
        var _reason = "";
        try {
          _reason = $form.find('.pairwise-reasoning textarea').val();
        } catch(e) {
          console.error('Could not find '+side+'\'s reason answer. Assuming left blank.');
        }

        var return_obj = {
          "pair_id":            pair_id,
          "turk_id":            turk_id,
          "img_id":             _img_id,
          "control_condition":  control_condition,
          "reason":       _reason
        };
        
        switch(control_condition) {
          case "1":
            return_obj["decision"] = getFirstConditionAnswer($form);
            return return_obj;
          case "2":
            var _guidelines = getSecondConditionAnswer($form)
            return_obj["guideline1"] = _guidelines[0];
            return_obj["guideline2"] = _guidelines[1];
            return_obj["guideline3"] = _guidelines[2];
            return return_obj;
          case "3":
            var _guidelines = getThirdConditionAnswer($form);
            return_obj["guideline1"] = _guidelines[0];
            return_obj["guideline2"] = _guidelines[1];
            return_obj["guideline3"] = _guidelines[2];
            return return_obj;
        }
      }

      /**
      * If tasks remain to be reviewed, log the answers of each user
      * and
      */
      function nextTask() {
        var right_is_user = "{{ users.right_worker.is_user }}"
        var left_is_user = "{{ users.left_worker.is_user }}"
        var user_side = ""
        var prev_answer = {}

        if (right_is_user === 'yes') {
          user_side = 'r';
          prev_answer = getFormAnswer($('#right'));
        } else if (left_is_user === 'yes') {
          console.log("we're on the left")
          user_side = 'l';
          prev_answer = getFormAnswer($('#left'));
        }

        var answers = JSON.parse(window.localStorage.getItem('answers'))
        answers.push(prev_answer)
        window.localStorage.setItem('answers', JSON.stringify(answers))
        $.ajax({url: "{{ url_for('accept_moderations') }}", 
            async: false,
            method: 'POST',
            data: JSON.stringify(prev_answer),
            contentType: 'application/json;charset=UTF-8'
        });
        // leftSubmission["answers"].push(getFormAnswer($('#left')));
        // rightSubmission["answers"].push(getFormAnswer($('#right')));

        var $progressBar = $('#pairwise-progress');
        var level = Number($progressBar.attr('level'));
        setProgress($progressBar, level+1);

        if (taskIdx < posts.length - 1) { // if tasks remain
          taskIdx++;
          updatePost();
          resetForms();
          $.event.trigger({type:"replay"});

        } else { // we're at the end!
          // TODO redirect to done page
          console.log(leftSubmission);
          console.log(rightSubmission);
          window.location.href = "/done?consent=demo";
        }
      };

    </script>

    {% if pairwise_mode > 0 %}
    <!-- Import local, static TogetherJS -->
    <script src='{{ url_for('static', filename='js/togetherjs.js') }}'></script>
    <script src='{{ url_for('static', filename='js/togetherjs_extra.js') }}'></script>
    <link rel='stylesheet' href='{{ url_for('static', filename='css/togetherjs_fix.css') }}'></script>
    <!-- TogetherJS End -->
    {% endif %}
    
    <!-- Nota -->
    <script src="{{ url_for('static', filename='js/nota.js') }}"></script>
    <!-- Progress bar -->
    <script src="{{ url_for('static', filename='js/progress.js') }}"></script>
  </head>
  <body>
    {{ user_col(side='left', name=users.left_worker.name, affiliation=users.left_worker.affiliation, is_user=users.left_worker.is_user, control_cond=control_cond) }}
    <div class="pairwise-col" id="shared">
      <div id="instructions">
        <h3>Instructions</h3>
        <div>Please answer all of the questions in your workspace for every post. </div>
          <!-- You may need to wait for your partner to finish before moving on</div> -->
        </div>
        <br>
        <h2>Task</h2>
        <br>
        
        <div id="pairwise-progress" class="progress-bar" max="10" level="1" mode="in-progress" style="margin-left: auto; margin-right: auto; width: 80%;">
          <!--  base height  -->
          &#8205;
          
          <!--  [mode=empty]  -->
          <div class="progress-empty">
            <span class="progress-level">1</span>
            <span> / </span>
            <span class="progress-max">10</span>
          </div>
          
          <!--  [mode=in-progress]  -->
          <div class="progress-fill"></div>
          <div class="progress-remaining">
            <span class="progress-level"></span>
            <span> / </span>
            <span class="progress-max"></span>
          </div>
          
          <!--  [mode=complete]  -->
          <div class="progress-complete">
            All tasks completed.
          </div>
          
          <!--  [mode=overflow]  -->
          <div class="progress-overflow">
            Progress bar is overflowed.
          </div>
        </div>
        
        <br>
        
        <div id="pairwise-task">
          <div id="tweet" style="margin-left: auto; margin-right: auto;">
            <div>
                <img id='profile_pic' src="https://i.imgur.com/96zQ5eB.png" style="float: left; margin-right: 5px; margin-bottom: 5px;" draggable=false alt="">
                <h1 id="name">Name</h1>
                <h3 id="username">Username</h3>
            </div>
            <hr>
            <h3 id="tweet_text">Content</h3>
          </div>
          <!-- <div><strong>Tweet Posted by</strong>: <span id="task-author"></span></div>
          <div><strong>Tweet Text</strong>: <span id="task-text"></span></div> -->
          <!-- <br><img draggable=false id="task-image" src="https://imgplaceholder.com/420x320/cccccc/757575/glyphicon-file"> -->
        </div>
      </div>
      <!-- <h1>{{ pairwise_mode }}</h1> -->
      {% if pairwise_mode > 0 %}
      {{ user_col(side='right', name=users.right_worker.name, affiliation=users.right_worker.affiliation, is_user=users.right_worker.is_user, control_cond=control_cond) }}
      {% endif %}
    </body>
    
    <!-- Forms -->
    <script src="{{ url_for('static', filename='js/forms.js') }}"></script>
    
    </html>
    