<!DOCTYPE html>
{% from 'new_work_user_col.html' import user_col as user_col %}
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title>Work - Pairwise</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/new_work.css') }}">
    <!-- progress bar -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/progress.css') }}">
    {% if pairwise_mode == 1 %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/obscure_partner_answers.css') }}">
    {% endif %}

    <!-- jQuery from CDN -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>

    <!-- TogetherJS Begin -->

    <!-- Config -->
    <script type="text/javascript">

      var TogetherJSConfig_autoStart = true;
      var TogetherJSConfig_suppressJoinConfirmation = true;
      var TogetherJSConfig_suppressInvite = true;
      var TogetherJSConfig_disableWebRTC = false;
      var TogetherJSConfig_cloneClicks = true;
      var TogetherJSConfig_findRoom = "{{ pair_id }}";
      var TogetherJSConfig_ignoreForms = [];
      var TogetherJSConfig_ignoreMessages = [];

      var posts = {{ posts|safe }};
      var taskIdx = 0;

      var leftSubmission = {
        "pair_id":"{{ pair_id }}",
        "turk_id":"{{ turk_id }}",
        "answers":[]
      };
      var rightSubmission = {
        "pair_id":"{{ pair_id }}",
        "turk_id":"robot",
        "answers":[]
      };

      // var pairwise_recording = "static/recordings/test.txt";
      function getRandomRecording() {
        var basePath = "static/recordings/";
        var img_id = posts[taskIdx]["img_id"];

        var options = ["political", "nonpolitical"];
        var decision = options[Math.floor(2*Math.random())];

        var extension = ".txt";

        return basePath + img_id + decision + extension;
      }
      var pairwise_recording = getRandomRecording();

      /**
      * Make some initial changes to DOM elements that can't be done via CSS.
      */
      $(document).ready(function(){
        updatePost();
        $('.pairwise-col input').attr('tabindex','-1'); // disable tab selection
      });

      /**
      * Updates the Task content, based on taskIdx.
      */
      function updatePost(){
          $('#task-author').html(posts[taskIdx]['poster']);
          $('#task-text').html(posts[taskIdx]['text']);
          $('#task-image').attr('src', posts[taskIdx]['path']);
      };

      /**
      * Gets the ID of the current post's image
      */
      function getPostID(){
        return posts[taskIdx]["img_id"];
      }

      /**
      * Create a Javascript object modeling responses for ajax sending.
      */
      function getFormAnswer($form) {

        var side = $form.attr('data-side');

        // get ID of image associated with answer
        var _img_id = posts[taskIdx]['img_id'];

        // get 'decision' answer
        var _decision = "unsure";
        try {
          _decision = $form.find('fieldset.pairwise-decision').find('input[type=radio]:checked').attr('data-value');
        } catch(e) {
          console.error('Couldn\'t find answer for '+side+'\'s decision. Assuming "unsure"');
        }

        // get 'guidelines' answer
        var _guideline_1 = true;
        var _guideline_2 = true;
        var _guideline_3 = true;
        try {
          _guideline_1 = $form.find('input.pairwise-guideline-1').is(':checked');
          _guideline_2 = $form.find('input.pairwise-guideline-2').is(':checked');
          _guideline_3 = $form.find('input.pairwise-guideline-3').is(':checked');
        } catch(e) {
          console.error('Could not find one or more of '+side+'\'s guidelines answers. Assuming none of the above.');
        }

        // get 'reason' answer
        var _reason = "";
        try {
          _reason = $form.find('.pairwise-reasoning textarea').val();
        } catch(e) {
          console.error('Could not find '+side+'\'s reason answer. Assuming left blank.');
        }

        return {
          "img_id":       _img_id,
          "decision":     _decision,
          "guideline_1":  _guideline_1,
          "guideline_2":  _guideline_2,
          "guideline_3":  _guideline_3,
          "reason":       _reason
        };
      }

      /**
      * If tasks remain to be reviewed, log the answers of each user
      * and
      */
      function nextTask() {

        leftSubmission["answers"].push(getFormAnswer($('#left')));
        rightSubmission["answers"].push(getFormAnswer($('#right')));

        var $progressBar = $('#pairwise-progress');
        var level = Number($progressBar.attr('level'));
        setProgress($progressBar, level+1);

        if (taskIdx < posts.length - 1) { // if tasks remain
          taskIdx++;
          updatePost();
          resetForms();
          $.event.trigger({type:"replay"});

        } else { // we're at the end!
          // TODO redirect to done page
          console.log(leftSubmission);
          console.log(rightSubmission);
          window.location.href = "/done?consent=demo";
        }
      };

    </script>

    {% if pairwise_mode > 0 %}
    <!-- Import local, static TogetherJS -->
    <script src='{{ url_for('static', filename='js/togetherjs.js') }}'></script>
    <script src='{{ url_for('static', filename='js/togetherjs_extra.js') }}'></script>
    <link rel='stylesheet' href='{{ url_for('static', filename='css/togetherjs_fix.css') }}'></script>
    <!-- TogetherJS End -->
    {% endif %}
    
    <!-- Nota -->
    <script src="{{ url_for('static', filename='js/nota.js') }}"></script>
    <!-- Progress bar -->
    <script src="{{ url_for('static', filename='js/progress.js') }}"></script>
  </head>
  <body>
    {{ user_col(side='left', name=users.left_worker.name, affiliation=users.left_worker.affiliation, is_user=users.left_worker.is_user) }}
    <div class="pairwise-col" id="shared">
      <div id="instructions">
        <h3>Instructions</h3>
        <div>Please answer all of the questions in your workspace for every post.
          You may need to wait for your partner to finish before moving on</div>
        </div>
        <br>
        <h2>Task</h2>
        <br>
        
        <div id="pairwise-progress" class="progress-bar" max="10" level="1" mode="in-progress">
          <!--  base height  -->
          &#8205;
          
          <!--  [mode=empty]  -->
          <div class="progress-empty">
            <span class="progress-level">1</span>
            <span> / </span>
            <span class="progress-max">10</span>
          </div>
          
          <!--  [mode=in-progress]  -->
          <div class="progress-fill"></div>
          <div class="progress-remaining">
            <span class="progress-level"></span>
            <span> / </span>
            <span class="progress-max"></span>
          </div>
          
          <!--  [mode=complete]  -->
          <div class="progress-complete">
            All tasks completed.
          </div>
          
          <!--  [mode=overflow]  -->
          <div class="progress-overflow">
            Progress bar is overflowed.
          </div>
        </div>
        
        <br>
        
        <div id="pairwise-task">
          <div><strong>Posted by</strong>: <span id="task-author"></span></div>
          <div><strong>Caption</strong>: <span id="task-text"></span></div>
          <br><img draggable=false id="task-image" src="https://imgplaceholder.com/420x320/cccccc/757575/glyphicon-file">
        </div>
      </div>
      <!-- <h1>{{ pairwise_mode }}</h1> -->
      {% if pairwise_mode > 0 %}
      {{ user_col(side='right', name=users.right_worker.name, affiliation=users.right_worker.affiliation, is_user=users.right_worker.is_user) }}
      {% endif %}
    </body>
    
    <!-- Forms -->
    <script src="{{ url_for('static', filename='js/forms.js') }}"></script>
    
    </html>
    