<html>
  <head>
      <title>Wait Page</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script>
        function pollWorkReady() {
          var pairData = { pair_id : {{ pair_id }} };

          $.ajax({
            url: '/poll_work_ready',
            type: 'POST',
            data: JSON.stringify(pairData),
            contentType: 'application/json;charset=UTF-8',
            dataType: 'json',
            success: function(data) {
              if(data.status == 'success') {
                window.location.href = '/work';
              }
            }
          });
        }
        $(document).ready(function() {
            setInterval(pollWorkReady, 500);
        });
      </script>
        <script>
          // TogetherJS configurations
          var TogetherJSConfig_findRoom = 'pair-{{ pair_id }}';
          var TogetherJSConfig_suppressJoinConfirmation = true;
          var TogetherJSConfig_disableWebRTC = true;
          var TogetherJSConfig_includeHashInUrl = false;
          var TogetherJSConfig_cloneClicks = true;
          {% if edge_case == 'First' %}
            var TogetherJSConfig_dontShowClicks = true;
          {% endif %}
          var TogetherJSConfig_autoStart = true;
        </script>
        <script src='{{ url_for('static', filename='js/togetherjs.js') }}'></script>
  </head>
  <body>
    <p>Please wait until you are transferred to the task. You will be compensated for waiting.</p>
  </body>
</html>
