<html>
  <head>
    <title>Work Page</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
      {% if condition == "exp" %}
        {% if edge_case == 'First' %}
        <style>
          /* Hiding togetherjs elements for first moderator (edge case) */
          #togetherjs-container, #togetherjs-dock {
            display: none !important;
          }
        </style>
        {% endif %}
        {% if page == 'moderation' %}
        <style>
          /* TODO: this does not appear to solve TogetherJS outline bug */
          textarea:focus {
              outline: none !important;
          }
        </style>
        {% endif %}
      <script>
        // TogetherJS configurations
        var TogetherJSConfig_findRoom = '{{ room_name }}';
        var TogetherJSConfig_suppressJoinConfirmation = true;
        var TogetherJSConfig_disableWebRTC = true;
        var TogetherJSConfig_includeHashInUrl = false;
        var TogetherJSConfig_cloneClicks = true;
        {% if edge_case == 'First' %}
          var TogetherJSConfig_dontShowClicks = true;
        {% endif %}
        var TogetherJSConfig_autoStart = true;
      </script>
      <script src='{{ url_for('static', filename='js/togetherjs.js') }}'></script>
      {% endif %}
  </head>
  <body>
    <div style='height: 100%; display: flex;'>
      <div id="moderator-interface">
        <!-- Moderator interface -->
        <p {% if page == 'observation' %}style="visibility: hidden;"{% endif %}><strong>Instructions:</strong> For each image, determine whether it contains any form of political bias. Then, select "Yes" or "No" accordingly and click "Next" to continue to the next image. You may click "Previous" to modify responses on previous images. After selecting a response for every image, a "Submit Decisions" button will appear for you to submit your responses. Note that your responses cannot be modified after doing so.{% if condition == 'exp' %} If the "Submit Decisions" is disabled when it appears, you must wait for it to become enabled to click it.{% endif %}</p>
        <p id='counter_text'></p>
        <button id='moderate_submit_button' style='display: none;' {% if condition == "exp" %}disabled{% endif %}>Submit Decisions</button>
        <div id="image-carousel" class="carousel" data-wrap=false data-interval=false>
          <div class="carousel-inner">
			      {% for i in range(img_count) %}
            <div id="carousel-item-{{ i }}" class="carousel-item {% if i == 0 %} active{% endif %}" {% if i != 0 %}style="display: none;"{% endif %}>
              <div id='moderate' class="btn-group-toggle" data-toggle="buttons" style="display: inline-block; float: left;">
                <label class="btn"><input class="response-input-no" type="radio" name="options-{{ i }}">No</label>
                <label class="btn"><input class="response-input-yes" type="radio" name="options-{{ i }}">Yes</label>
              </div>
              <img src='{{ imgs[i] }}' style='max-width: 50%; float: left; clear: left;'>
            </div>
						{% endfor %}
          </div>
          <a class="carousel-control-prev" style='display: none; float: left; clear: left;' href="#image-carousel" role="button" data-slide="prev">
            <span>Previous</span>
          </a>
          <a class="carousel-control-next" style="{% if img_count == 1 %}display: none; {% endif %}float: left; clear: left;" href="#image-carousel" role="button" data-slide="next">
            <span>Next</span>
          </a>
        </div>
      </div>
      <!-- Observer interface -->
      {% if page == "observation" %}
      <div style='background-color: grey;'>
        <div>
      {% else %}
      <div>
        <div style='visibility: hidden;'>
      {% endif %}
          <form action='javascript:submitObservations()'>
            <p><strong>Instructions:</strong> Please describe what you see the moderator doing in the provided text box. When the "Continue" button becomes enabled, you may click it to submit your responses. Responses cannot be edited after they are submitted. Note that you cannot interact with any elements outside the gray box, as those are part of the moderator interface.</p>
            <textarea id='observations' {% if page == 'moderation' %}style="margin: 0;"{% endif %} style='margin: 0 3%; width: 94%;' rows="15"></textarea>
            <button id='observe_button' {% if page == 'moderation' %}style="margin: 0;"{% endif %} type='submit'>Submit Observations</button>
            <button id='observe_continue_button' type='button' onclick='window.location.href = "/wait"' disabled>Continue</button>
            <div style="width: 94%; height: 40%; margin: 2% 3%; border: 1px solid black; overflow: auto;">
              <p>Do you agree with the moderator's decision for the following images?</p>
              {% for i in range(img_count) %}
              <div style="margin: 20px 0;">
                <form>
                  <label><input type="radio" id="obs-radio-no-{{ i }}" name="obs-radio-{{ i }}">No</label>
                  <label><input type="radio" id="obs-radio-yes-{{ i }}" name="obs-radio-{{ i }}">Yes</label>
                </form>
                <img src='{{ imgs[i] }}' style='width: 90%; margin: 0 5%;'>
              </div>
  						{% endfor %}
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script>
    // Not allowing observer to interact with the moderator interface
    {% if page == "observation" %}
    $('#image-carousel, #moderate_submit_button').on('input', '*', function(e) {
      if(!e.originalEvent.togetherjsInternal === true) {
        return false;
      }
    });
    {% endif %}

    // Initializing variables for image moderation
    var choices = [{% for i in range(img_count) %}{% if(i != 0) %},{% endif %}0{% endfor %}];
    var cur_index = 0;
    var num_images = {{ img_count }};

    // Setting counter text on load
    $(document).ready(function() {
      $('#counter_text').text('Image ' + (cur_index + 1) + ' of ' + num_images);
    });

    // Image carousel functionality
    $('.carousel-control-next').prop('disabled', true);
    $('#image-carousel').on('slid.bs.carousel', function(e) {
      cur_index = e.to;
      $('#counter_text').text('Image ' + (cur_index + 1) + ' of ' + (num_images)); // Update current image counter

      // Hide previous button on first image
      if(cur_index == 0) {
        $('.carousel-control-prev').hide();
      } else {
        $('.carousel-control-prev').show();
      }

      // Hide next button on last image
      if(cur_index == num_images - 1) {
        $('.carousel-control-next').hide();
      } else {
        $('.carousel-control-next').show();
      }

      // Disable next button if no choice has been recorded
      if(choices[cur_index] == 0) {
          $('.carousel-control-next').prop('disabled', true);
      } else {
          $('.carousel-control-next').prop('disabled', false);
      }

      // Show next image
      $('.carousel-item').hide();
      $('#carousel-item-' + cur_index).show();
    });

    // Choice selection
    function continueSelection() {
      $('.carousel-control-next').prop('disabled', false);
      if(choices.indexOf(0) === -1) {
        $('#moderate_submit_button').show(); // Reveal submit button after all choices are made
      }
    }
    $('.response-input-yes').change(function(e) { // Yes selected
      choices[cur_index] = 'Yes';
      continueSelection();
    });
    $('.response-input-no').change(function(e) { // No selected
      choices[cur_index] = 'No';
      continueSelection();
    });

    // Moderator submission
    {% if page == "moderation" %}
    $('#moderate_submit_button').on('click', function() {
      var submission = {
        decisions : choices,
        img_ids : [
        {% for i in range(img_count) %}
          {% if i != 0 %},{% endif %}{{ img_ids[i] }}
        {% endfor %}],
        pair_id : {{ pair_id }}
      };

      $.ajax({
        url: '/submit_mods',
        data: JSON.stringify(submission),
        contentType: 'application/json;charset=UTF-8',
        type: 'POST'
      });

      $('#moderate_submit_button').prop('disabled', true);
      $('#moderator-interface').css('pointer-events', 'none').css('opacity', '0.5');
      window.location.href = '/consent';
    });
    {% endif %}

    // Polling for observer submission
    {% if condition == "exp" %}
    var obsSubmitted = false;
    var pair_id_json = { pair_id : {{ pair_id }} };
    function checkObsSubmitted() {
      $.ajax({
        url: '/check_obs_submitted',
        data: JSON.stringify(pair_id_json),
        contentType: 'application/json;charset=UTF-8',
        type: 'POST',
        success: function(data) {
          if(data.status == 'success') {
            if(data.submitted == 'true' && !obsSubmitted) {
              obsSubmitted = true;
              $('#moderate_submit_button').prop('disabled', false);
            }
          }
        }
      });

      if(!obsSubmitted) setTimeout(checkObsSubmitted, 2000);
    }
    checkObsSubmitted();
    {% endif %}

    {% if page == "observation" %}
    // Observer submission
    function submitObservations() {
      var obsAgreementText = '';
      {% for i in range(img_count) %}
        var noSelected = $('#obs-radio-no-{{ i }}').is(':checked');
        var yesSelected = $('#obs-radio-yes-{{ i }}').is(':checked');
        var decision = noSelected ? 'No' : (yesSelected ? 'Yes' : 'Unselected');
        obsAgreementText += {{ img_ids[i] }} + ' - ' + decision + ', ';
      {% endfor %}

      var submission = {
        pair_id : {{ pair_id }},
        obs_text : $('#observations').val(),
        agreement_text : obsAgreementText
      };

      $.ajax({
        url: '/submit_obs',
        data: JSON.stringify(submission),
        contentType: 'application/json;charset=UTF-8',
        type: 'POST'
      });

      $('#observe_button').prop('disabled', true);
      $('#observations').prop('disabled', true);
    }

    // Polling for moderator submission
    var modSubmitted = false;
    var pair_id_json = { pair_id : {{ pair_id }} };
    function checkModSubmission() {
      $.ajax({
        url: '/check_mod_submitted',
        data: JSON.stringify(pair_id_json),
        contentType: 'application/json;charset=UTF-8',
        type: 'POST',
        success: function(data) {
          if(data.status == 'success') {
            if(data.submitted == 'true' && !modSubmitted) {
              modSubmitted = true;
              $('#observe_continue_button').prop('disabled', false);
              $('#moderate_submit_button').prop('disabled', true);
            }
          }
        }
      });

      if(!modSubmitted) setTimeout(checkModSubmission, 2000);
    }
    checkModSubmission();
    {% endif %}
  </script>
</html>
