<html>
  <head>
    <title>Work Page</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
      {% if condition == "exp" %}
        {% if edge_case == 'First' %}
        <style>
          /* Hiding togetherjs elements for first moderator (edge case) */
          #togetherjs-container, #togetherjs-dock, .togetherjs-cursor {
            visibility: hidden !important;
          }
        </style>
        {% endif %}
      <script>
        // TogetherJS configurations
        TogetherJSConfig_findRoom = '{{ room_name }}';
        TogetherJSConfig_suppressJoinConfirmation = true;
        TogetherJSConfig_disableWebRTC = true;
        TogetherJSConfig_includeHashInUrl = false;
        TogetherJSConfig_cloneClicks = true;
        TogetherJSConfig_dontShowClicks = true;
        TogetherJSConfig_autoStart = true;
        TogetherJSConfig_ignoreForms = true;
        TogetherJSConfig_getUserColor = function () {return '{{ user_color }}'};
      </script>
      <script src='{{ url_for('static', filename='js/togetherjs.js') }}'></script>
      <link rel='stylesheet' href='{{ url_for('static', filename='css/fix.css') }}'></script>
      <script>
        window.onload = function() {
          TogetherJS(this);
        }
      </script>
      {% endif %}
      <style>
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }
      </style>
  </head>
  <body>
    <div style='height: 100%; display: flex;'>
      <div id="moderator-interface">
        <!-- Moderator interface -->
        <p {% if page == 'observation' %}style="visibility: hidden;"{% endif %}><strong>Instructions:</strong> For each image, determine whether it contains any form of political bias. Then, select "Yes" or "No" accordingly and click "Next" to continue to the next image. You may click "Previous" to modify responses to previous images. After selecting a response for every image, a "Submit Decisions" button will appear for you to submit your responses. Note that responses cannot be modified after doing so. Select "I'm ready" when you're ready to begin the task.</p>
        {% if page == 'moderation' and condition == 'exp' %}
        <button id="moderator_ready" type="button">I'm ready</button>
        <p id="mod-waiting-message" style="display: none;"><strong>Waiting on observer...</strong></p>
        {% endif %}
        <p id='counter_text'></p>
        <button id='moderate_submit_button' style='display: none;'>Submit Decisions</button>
        <div id="image-carousel" class="carousel" data-wrap=false data-interval=false>
          <div class="carousel-inner">
			{% for i in range(img_count) %}
            <div id="carousel-item-{{ i }}" class="carousel-item {% if i == 0 %} active{% endif %}" {% if i != 0 %}style="display: none;"{% endif %}>
              <p>Does the following post contain political bias?</p>
              <form id='moderate'>
                <input class='response-input-no' type="radio" style="outline: none !important;" name="option-{{ i }}" id="no-option-{{ i }}"><label for="no-option-{{ i }}" style="outline: none !important;">No</label>
                <input class='response-input-yes' type="radio" style="outline: none !important;" name="option-{{ i }}" id="yes-option-{{ i }}"><label for="yes-option-{{ i }}" style="outline: none !important;">Yes</label>
              </form>
              <table style="margin: 10px;">
                  <tr>
                      <th>Posted by:</th>
                      <td><b>{{ usernames[i] }}</b></td>
                  </tr>
                  <tr>
                      <th>Post text:</th>
                      <td><em>{{ posts[i] }}</em></td>
                  </tr>
                  <tr>
                      <th>Post image:</th>
                      <td><img src='{{ imgs[i] }}' style='max-width: 50%; float: left; clear: left;'></td>
                  </tr>
              </table>
            </div>
			{% endfor %}
          </div>
          <a class="carousel-control-prev" style='display: none; float: left; clear: left;' href="#image-carousel" role="button" data-slide="prev">
            <span>Previous</span>
          </a>
          <a class="carousel-control-next" style="{% if img_count == 1 %}display: none; {% endif %}float: left; clear: left;" href="#image-carousel" role="button" data-slide="next">
            <span>Next</span>
          </a>
        </div>
      </div>
      <!-- Observer interface -->
      {% if page == "observation" %}
      <div id="obs-form-container" style='background-color: grey;'>
        <div>
      {% else %}
      <div style='visibility: hidden;'>
        <div>
      {% endif %}
          <form id="submit-obs-form" action='javascript:submitObservations()'>
            <p id="obs-instructions" style="padding: 10px;"><strong>Instructions:</strong> The moderator will select "Yes" or "No" as to whether they believe each image contains political bias. To the best of your ability, select "Yes" or "No" as to whether you agree with the moderator for a particular image, and write other observations in the corresponding text area. Response forms for additional images will become available as the moderator sees them. When finished, click the "Submit Observations" button that will appear below. Select "I'm ready" when you're ready to begin the task.</p>
            {% if page == 'observation' %}
            <button id="observer_ready" type="button" style="margin: 10px;">I'm ready</button>
            <p id="obs-waiting-message" style="display: none; margin: 10px;"><strong>Waiting on moderator...</strong></p>
            {% endif %}
            <div id="obs-images-container" style="width: 94%; height: 50%; margin: 0 3%; border: 1px solid black; overflow: auto;">
              <p>Do you agree with the moderator's decision for the following images?</p>
              {% for i in range(img_count) %}
              <hr id="obs-hr-{{ i }}" style="border-color: black; {% if i != 0 %}display: none;{% endif %}">
              <div id="obs-div-{{ i }}" style="margin: 20px 0; {% if i != 0 %}display: none;{% endif %}">
                <p id="obs-mod-response-{{ i }}">Moderator's answer: </p>
                <img src='{{ imgs[i] }}' style='width: 90%; margin: 0 5%;'>
                <form style="padding-top: 10px;">
                  <label><input type="radio" id="obs-radio-no-{{ i }}" name="obs-radio-{{ i }}">No</label>
                  <label><input type="radio" id="obs-radio-yes-{{ i }}" name="obs-radio-{{ i }}">Yes</label>
                </form>
              </div>
  			  {% endfor %}
            </div>
            <button id='observe_button' style="display: none; {% if page == 'moderation' %}margin: 0;{% endif %}" type='submit' form="submit-obs-form">Submit Observations</button>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script>
      // Extracting image ids
      var img_ids =   [{% for i in range(img_count) %}
                        {% if i != 0 %},{% endif %}{{ img_ids[i] }}
                      {% endfor %}];

    {% if condition == 'exp' %}
    // Server pinging to let partner know you're still connected
    function ping() {
      var roleVal = {% if page == 'moderation' %}'mod'{% else %}'obs'{% endif %};

      $.ajax({
        url: '/ping',
        data: JSON.stringify({ pair_id : {{ pair_id }}, role : roleVal }),
        contentType: 'application/json;charset=UTF-8',
        type: 'POST',
        success: function(data) {
            if(data.partner_status == 'disconnected') {
              window.location.href = '/mark_disconnection?pair_id=' + {{ pair_id }} + '&role=' + roleVal;
            }
        }
      });
    }
    setTimeout(setInterval(ping, 1000), 3000);

    // Mask form appearances on load, wait for "I'm ready" selections
    $(document).ready(function() {
        $('img').css('-webkit-filter', 'brightness(0.0)');
        $('img').css('filter', 'brightness(0.0)');

        $('#image-carousel').css('pointer-events', 'none');
        $('#obs-images-container').css('pointer-events', 'none');

        var maskOpacity = 0.15;
        $('#counter_text').css('opacity', maskOpacity);
        $('#image-carousel').css('opacity', maskOpacity);
        $('#obs-images-container').css('opacity', maskOpacity);
    });

    // Unmask forms after both workers are ready
    function unmaskForms() {
        $('img').css('-webkit-filter', 'brightness(1.0)');
        $('img').css('filter', 'brightness(1.0)');

        $('#image-carousel').css('pointer-events', 'auto');
        $('#obs-images-container').css('pointer-events', 'auto');

        $('#counter_text').css('opacity', 1.0);
        $('#image-carousel').css('opacity', 1.0);
        $('#obs-images-container').css('opacity', 1.0);
    }

    function checkPartnerReady() {
        $.ajax({
          url: '/check_workers_ready',
          data: JSON.stringify({ pair_id : {{ pair_id }} }),
          contentType: 'application/json;charset=UTF-8',
          type: 'POST',
          success: function(data) {
              if(data.status == 'ready') {
                  {% if page == 'moderation' %}
                    $('#mod-waiting-message').hide();
                  {% else %}
                    $('#obs-waiting-message').hide();
                  {% endif %}

                  unmaskForms();
              } else {
                  setTimeout(checkPartnerReady, 1000);
              }
          }
        });
    }
    {% endif %}

    {% if page == 'moderation' and condition == 'exp' %}
    // Mark first image revealed
    $.ajax({
      url: '/reveal_image',
      data: JSON.stringify({ pair_id : {{ pair_id }}, img_index : 0 }),
      contentType: 'application/json;charset=UTF-8',
      type: 'POST'
    });
    $('#moderator_ready').on('click', function() {
        $.ajax({
          url: '/set_worker_ready',
          data: JSON.stringify({ pair_id : {{ pair_id }}, worker : 'mod' }),
          contentType: 'application/json;charset=UTF-8',
          type: 'POST',
          success: function() {
              $('#moderator_ready').hide();
              $('#mod-waiting-message').show();
              checkPartnerReady();
          }
        });
    });
    {% elif page == 'observation' %}
    $('#observer_ready').on('click', function() {
        $.ajax({
          url: '/set_worker_ready',
          data: JSON.stringify({ pair_id : {{ pair_id }}, worker : 'obs' }),
          contentType: 'application/json;charset=UTF-8',
          type: 'POST',
          success: function() {
              $('#observer_ready').hide();
              $('#obs-waiting-message').show();
              checkPartnerReady();
          }
        });
    });
    {% endif %}

    {% if page == "observation" and condition == 'exp' %}
    // Flexible observer form height
    function resizeObserverForm() {
        var container = $('#obs-form-container').outerHeight(true);
        var instructions = $('#obs-instructions').outerHeight(true);
        var button = $('#observe_button').outerHeight(true);
        $('#obs-images-container').css('height', (container - instructions - button - 50) + 'px');
    }
    $(document).ready(resizeObserverForm);
    $(window).resize(resizeObserverForm);

    // Not allowing observer to interact with the moderator interface
    $('#image-carousel, #moderate_submit_button').on('input', '*', function(e) {
      if(!e.originalEvent.togetherjsInternal === true) {
        return false;
      }
    });
    {% endif %}

    // Initializing variables for image moderation
    var choices = [{% for i in range(img_count) %}{% if(i != 0) %},{% endif %}0{% endfor %}];
    var cur_index = 0;
    var num_images = {{ img_count }};


    $('#moderator-interface *').on('click', '*', function(e) {
      console.log(e)
      // turns off remote clicks in moderation interface from observer
      {% if page == "moderation" %}
        if(e.originalEvent.togetherjsInternal === true) {
          console.log('coming from togetherjs')
          return false;
        }
      {% endif %}

      // turns off local clicks in moderation interface from observer
      {% if page == "observation" %}
        if(!e.originalEvent.togetherjsInternal === true) {
          console.log("blocking everything that ISN'T togetherjs")
          return false;
        }
      {% endif %}
    });

    // Setting counter text on load
    $(document).ready(function() {
      $('#counter_text').text('Image ' + (cur_index + 1) + ' of ' + num_images);
    });

    // Image carousel functionality
    $('.carousel-control-next').prop('disabled', true);
    $('#image-carousel').on('slid.bs.carousel', function(e) {
      cur_index = e.to;
      $('#counter_text').text('Image ' + (cur_index + 1) + ' of ' + (num_images)); // Update current image counter

      // Hide previous button on first image
      if(cur_index == 0) {
        $('.carousel-control-prev').hide();
      } else {
        $('.carousel-control-prev').show();
      }

      // Hide next button on last image
      if(cur_index == num_images - 1) {
        $('.carousel-control-next').hide();
      } else {
        $('.carousel-control-next').show();
      }

      // Disable next button if no choice has been recorded
      if(choices[cur_index] == 0) {
          $('.carousel-control-next').prop('disabled', true);
      } else {
          $('.carousel-control-next').prop('disabled', false);
      }

      {% if page == 'moderation' and condition == 'exp' %}
      // Mark image as revealed to observer
      var submission = {
          pair_id : {{ pair_id }},
          img_index : cur_index
      };
      $.ajax({
        url: '/reveal_image',
        data: JSON.stringify(submission),
        contentType: 'application/json;charset=UTF-8',
        type: 'POST'
      });
      {% endif %}

      // Show next image
      $('.carousel-item').hide();
      $('#carousel-item-' + cur_index).show();
    });

    // Choice selection
    function continueSelection() {
      $('.carousel-control-next').prop('disabled', false);
      if(choices.indexOf(0) === -1) {
        $('#moderate_submit_button').show(); // Reveal submit button after all choices are made
      }
    }
    $('.response-input-yes').change(function(e) { // Yes selected
      choices[cur_index] = 'Yes';
      continueSelection();

      {% if condition == 'exp' %}
      // Update decision to be reflected on observer form
      $.ajax({
          url: '/update_temp_decision',
          data: JSON.stringify({ pair_id : {{ pair_id }}, img_index : cur_index, decision : 'Yes' }),
          contentType: 'application/json;charset=UTF-8',
          type: 'POST'
      });
      {% endif %}
    });
    $('.response-input-no').change(function(e) { // No selected
      choices[cur_index] = 'No';
      continueSelection();

      {% if condition == 'exp' %}
      // Update decision to be reflected on observer form
      $.ajax({
          url: '/update_temp_decision',
          data: JSON.stringify({ pair_id : {{ pair_id }}, img_index : cur_index, decision : 'No' }),
          contentType: 'application/json;charset=UTF-8',
          type: 'POST'
      });
      {% endif %}
    });

    // Moderator submission
    {% if page == "moderation" %}
    $('#moderate_submit_button').on('click', function() {
      var submission = {
        decisions : choices,
        img_ids : img_ids,
        pair_id : {{ pair_id }}
      };

      console.log(submission)
      $.ajax({
        url: '/submit_mods',
        data: JSON.stringify(submission),
        contentType: 'application/json;charset=UTF-8',
        type: 'POST',
        success: function(data) {
          $('#moderate_submit_button').prop('disabled', true);
          $('#moderator-interface').css('pointer-events', 'none').css('opacity', '0.5');
          window.location.href = '/consent';
        }
      });
    });
    {% endif %}

    {% if page == "observation" %}
    function moveBackToWait() {
      window.location.href = "/wait"
    }
    // Observer submission
    function submitObservations() {
      var agreementsList = [];
      {% for i in range(img_count) %}
        var noSelected = $('#obs-radio-no-{{ i }}').is(':checked');
        var yesSelected = $('#obs-radio-yes-{{ i }}').is(':checked');
        var decision = noSelected ? 'No' : (yesSelected ? 'Yes' : 'Unselected');
        agreementsList.push(decision);
      {% endfor %}

      var submission = {
        pair_id : {{ pair_id }},
        img_ids : img_ids,
        agreements: agreementsList
      };

      $.ajax({
        url: '/submit_obs',
        data: JSON.stringify(submission),
        contentType: 'application/json;charset=UTF-8',
        type: 'POST',
        success: function(data) {
            if(data.status == 'success') {
                window.sessionStorage.removeItem('togetherjs-session.status')
                window.sessionStorage.removeItem('togetherjs-session.peerCache')
                window.location.href = '/wait';
            } else {
                console.error('Error submitting observation data');
            }
        }
      });

      $('#observe_button').prop('disabled', true);
      $('#observations').prop('disabled', true);
    }

    {% if condition == 'exp' %}
    // Check which images have been revealed by the moderator
    function checkImages() {
        $.ajax({
          url: '/check_revealed',
          data: JSON.stringify({ pair_id : {{ pair_id }} }),
          contentType: 'application/json;charset=UTF-8',
          type: 'POST',
          success: function(data) {
              if(data.status == 'success') {
                  var indices = data.indices;
                  var responses = data.mod_responses;
                  for(var i = 0; i < indices.length; i++) {
                      var image_index = indices[i];

                      $('#obs-mod-response-' + image_index).text('Moderator\'s answer: ' + responses[i]);
                      $('#obs-hr-' + image_index).show();
                      $('#obs-div-' + image_index).show();

                      if(image_index == {{ img_count }} - 1) {
                          $('#observe_button').show();
                      }
                  }
              } else {
                  console.error('Error checking for revealed images');
              }
          }
        });
    }
    $(document).ready(function() {
        setInterval(checkImages, 1000);
    });
    {% endif %}
    {% endif %}
  </script>
</html>
